body {
  background: grey;
  background-size: 50% 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.appContainer {
  background-color: rgba(72, 72, 72, 0.433);
  opacity: 0.95;
  color: white;
  padding: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 100px 100px 200px;
  border: 3px solid black;
  border-radius: 25px;
  overflow: scroll;
  position: relative;
  height: auto;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.material-symbols-outlined {
  font-size: 35px;
}

.autocomplete-container {
  background-color: #3c3c3c;
  border-radius: 5px;
  position: relative;
}

.locationDisplay {
  font-size: 30px;
  font-weight: bold;
}

.temp {
  display: none;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  font-size: 25px;
  column-gap: 5px;
}

.currentTemp {
  grid-column: 1 / span 3;
  justify-self: center;
}

.selected {
  text-decoration: underline solid 2px;
  font-weight: bold;
}
